:root {
    --background-color: white; 
    --text-color: black; 
    --link-color: red; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color); 
}

